.author 
    @extend $block
    margin: 40px 0;
    padding 20px
    
    &__title
        font-size: 2em
        margin-bottom 1em
        text-transform: uppercase
    &__title-small
        display: block
        color: color-grey
        font-size: 0.7em
        border-top: 1px solid #dedede
        text-align: right
    &__avatar
        display: block;
        margin 0 auto 20px auto
    &__position
        text-align: center
        color: color-grey
    &__name
        font-size: 1.1em
        text-align: center
        margin-bottom 10px
        text-transform: uppercase
        font-weight 600
    &__location
        text-align: center
        color: color-grey
        font-size: .8em
        margin-top 10px
        .fa
            margin-right 4px
/*
    &__follow
*/